# Email service
RESEND_API_KEY=
EMAIL_FROM_ADDRESS=onboarding@resend.dev

# Database (Prisma Accelerate)
DATABASE_URL=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_URL=

# Stripe
STRIPE_WEBHOOK_SECRET=
STRIPE_SECRET_KEY=

# CORS
FRONTEND_URL=http://localhost:3000

# Server
NODE_ENV=development
PORT=3001
